.container{
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(213, 213, 233);
  
}
.header{
  

}

.div-a{
  width: 280px;
  border-radius: 20px;
  display: inline-block;;
  margin-left: 60px;
  border: 2px solid black;
  text-align: center;
  background-color: aqua;
  padding: 5px 5px;
}
.div-b{
  width: 180px;
  border-radius: 20px;
  display: inline-block;;
  margin-left: 60px;
  border: 2px solid black;
  text-align: center;
  background-color: aqua;
  padding: 5px 5px;
}
.div-c{
  width: 180px;
  border-radius: 20px;
  display: inline-block;;
  margin-left: 60px;
  border: 2px solid black;
  text-align: center;
  background-color: aqua;
  padding: 5px 5px;
}

button{
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgb(82, 205, 60);
  cursor: pointer;
}
.size-a{
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgb(71, 239, 65);
  cursor: pointer;
  height:100x;
  width:140px;
}
.size-b{
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgb(71, 239, 65);
  cursor: pointer;
  height:100x;
  width:120px;
}
.size-c{
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgb(71, 239, 65);
  cursor: pointer;
  height:100x;
  width:120px;
}


